* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links li {
  cursor: pointer;
}

.signup-btn {
  background: #2563eb;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* HERO */
.hero {
  height: 350px;
  background: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb")
    center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero-content h1 {
  font-size: 40px;
}

.hero-content p {
  margin: 10px 0;
  font-size: 18px;
}

.shop-btn {
  background: #2563eb;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* PRODUCTS */
.products-section {
  padding: 50px;
  text-align: center;
}

.product-grid {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.product-card {
  background: white;
  padding: 20px;
  width: 220px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.product-card h3 {
  margin: 10px 0;
}

.product-card p {
  font-weight: bold;
  margin-bottom: 10px;
}

.cart-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

/* FOOTER */
.footer {
  margin-top: 40px;
  padding: 20px;
  background: white;
  text-align: center;
}